.wrap{
    padding: 0 15%;
}
.shead{
    margin-top: 45px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}
.stitle{
    font-weight: 600;
    font-size: 30px;
} 
.swritebtn{
    color: white;
    background-color: #4673EA;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 20px;
}
.sbody{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;

}
.box{
    padding: 30px;
    border: 2px solid #4673EA;
    border-radius: 10px;
}
.boxtop{
    display: flex;
    justify-content: space-between;
}

.boxtag{
    display: flex;
}
.tag{
    margin-right: 10px;
    padding: 7px 10px;

    background-color: rgba(51, 51, 51, 0.1);;
    border-radius: 30px;
}