.box {
    position: fixed;
    top: 15%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 990;
    width: 50vw;
    height: auto;
    /* overflow: hidden; */
    background: white;
    padding: 3%;

    font-size: 22px;
}
.boxtop {
    display: flex;
    justify-content: space-between;
}
.boxtitle{
    font-size: 24px;
    font-weight: 600;
}
.scrap{
    position: absolute;
    margin-left: 70%;
    height: 50px;
}
.close{
    height: 50px;
    position: absolute;
    margin-left: 80%;
}
.boxtag{
    display: flex;
    margin-top: 1%;
}
.tag{
    margin-right: 10px;
    padding: 7px 10px;

    background-color: rgba(51, 51, 51, 0.1);;
    border-radius: 30px;
}
.btn_apply{
    color: white;
    background-color: #4673EA;
    /* margin-left: 25%; */
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;

    font-weight: 500;
    font-size: 20px;
}