.content{
    /* margin: 0 auto;
    width: 1200px; */
    padding: 60px 22% 0 22%;
    height: 800px;
}
.titleblock{
    display: flex;
    margin-bottom: 20px;
}
.title{
    margin-left: 50px;
    font-weight: 700;
    font-size: 25px;
}
.recruitstate{
    
    color: white;
    background-color: #4673EA;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;

    text-align: center;
    padding-top: 5px;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}
.table{
    font-size: 20px;
}
#tbmenu{
    background-color: #F1F5FA;
    font-weight: 600;
    text-align: center;
}
.buttonblock{
    display: flex;
    /* margin: 0 25%; */
    width: 295px;
    margin: 0 40%;
}
.btn_apply{
    color: white;
    background-color: #4673EA;
    /* margin-left: 25%; */
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 22px;
}
.btn_back{
    background-color: white;
    color: #4673EA;
    margin-left: 35px;
    width: 130px;
    height: 50px;
    border: 3px solid #4673EA;
    border-radius: 30px;

    font-weight: 600;
    font-size: 22px;
}