.ctn {
    /* width: 100%;
    height: 335px; */
    height: 375px;
    padding: 0px 8%;
    background-color: #F1F5FA;
    display: flex;
}
.btitle{
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
}
.btext{
  width: 380px;
    margin-top: 10px;
    font-size: 24px;
    
}
.btntest{
    width: 240px;
    height: 50px;
    margin-top: 20%;
    /* margin-top: 70px; */
    margin-right: 60%;

    color: white;
    background-color: #4673EA;
    border-radius: 30px;
    border: none;
    
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    font-size: 22px;
}
.imgFox {
    width: 400px;
    height: 350px;
    margin-left: 40%;
    margin-top: 25px;
}